/* 
    Created on : 11 Nov, 2017, 4:42:53 AM
    Author     : afsal
*/

* {
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
    -fx-red: #FF0000;
}

.root{
    -fx-background-color: -fx-primary;
}

.glyph-icon
{
    -fx-fill: -fx-primarytext;
}

.button{
    -fx-text-fill: -fx-primarytext;
}

/*Login Screen Specific*/
.login-button{
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.login-button:hover{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.text-field
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 13pt;
    -jfx-focus-color: -fx-secondary;
}

.wrong-credentials
{
    -jfx-unfocus-color: -fx-red;
    -jfx-focus-color: -fx-red;
}