/* 
    Created on : 11 Nov, 2017, 4:42:53 AM
    Author     : afsal
*/

* {
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
    -fx-red: #FF0000;
}

.root{
    -fx-background-color: -fx-primary;
}

.glyph-icon
{
    -fx-fill: -fx-primarytext;
}

.button{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
}

/*Login Screen Specific*/
.login-button{
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.login-button:hover{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.text-field
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 13pt;
    -jfx-focus-color: -fx-secondary;
}

.wrong-credentials
{
    -jfx-unfocus-color: -fx-red;
    -jfx-focus-color: -fx-red;
}

/*Main Screen CSS Styling starts here*/

/*TablPane styling*/
.tab{
    -fx-background-color: -fx-primary;
    -fx-pref-width : 350;
    -fx-pref-height : 60;
}

.tab-header-background{
    -fx-background-color: -fx-primary;
}

/*Menu bar Styling*/
.menu-bar{
    -fx-base : -fx-primary;
    -fx-background-color: -fx-primary;
}

.context-menu
{
    -fx-background-color:  derive(-fx-primary, 20%);
}

/*Hamburger Styling*/
.jfx-hamburger-icon{
    -fx-spacing: 7;
}

.jfx-hamburger-icon StackPane
{
    -fx-background-color: -fx-secondary;
    -fx-background-radius: 5px;
}

/*Toolbar buttons*/
.toolbar-button
{
    -fx-background-color: derive(-fx-primary, 20%);
}
.toolbar-button:hover
{
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.toolbar-button:hover .glyph-icon
{
    -fx-fill: -fx-primary;
}